---
layout: page
# All the Categories of posts
---

<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Developer Village, DEVIL</h5>
        <h6 class="card-subtitle mb-2 text-muted">개발자 커뮤니티 웹 사이트</h6>
        <p class="card-text">유저 및 태그 팔로잉과 개인 피드, 활동량에 기반한 뱃지 획득 기능, 알림 기능, 북마크, 게시글 및 댓글 관리</p>
        <p class="card-text"><small class="text-muted">2020-10 ~ 2020-12</small></p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">하이워크(HIWORK)</h5>
        <h6 class="card-subtitle mb-2 text-muted">업무 관리 시스템</h6>
        <p class="card-text">게시글 및 댓글 관리, 일정 관리, 근태 관리</p>
        <p class="card-text"><small class="text-muted">2021-1 ~ 진행중</small></p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">나비</h5>
        <h6 class="card-subtitle mb-2 text-muted">일정 관리 콘솔 프로그램</h6>
        <p class="card-text">일정 관리, 유저 간 쪽지 전송 및 관리</p>
        <p class="card-text"><small class="text-muted">2020-10</small></p>
      </div>
    </div>
  </div>
</div>